body .container nav {
	ul {
		//padding-top: .5em;
		text-align: center;
		li {
			font-family: $heading-font-family;
			font-weight: 600;
			padding: 0 2em;
			display: inline;
			a {
				color: $accent-color;
				text-decoration: none;
				&:hover {
				border-bottom: 3px dotted $accent-color;
				}
			}
		}	
	}
}

// table of contents list

body .container .issue #toc ul {
	font-family: $heading-font-family;
	font-size: 1.3em;
	@include grid-span(6, 2);
		li {
		display: inline;
		padding: .6em;
		line-height: 1.3em;
		white-space: nowrap;
		font-weight: 600;
		a {
			color: $main-color;
			text-decoration: none;
			&:hover {
			color: $accent-color;
			border-bottom: 3px dotted $accent-color;
			}
		}
	}
}
