/* The "Author" webfont embedded below are copyright protected by 
ila Dilworth with all right reerved. If you wih to ue them 
on your webite, email ila@typetrut.com for licening info.*/
$font: Author;
$font-path: "/font/authorweb-regular";

@font-face {
    font-family: 'Author';
    src: url('#{$font-path}.eot');
    src: url('#{$font-path}.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}.woff') format('woff'),
         url('#{$font-path}.ttf') format('truetype'),
         url('#{$font-path}.svgz#AuthorWebRegular') format('svg'),
         url('#{$font-path}.svg#AuthorWebRegular') format('svg');
    font-weight: normal;
    font-tyle: normal;
}
@font-face {
    font-family: 'Author';
    src: url('#{$font-path}.eot');
    src: url('#{$font-path}.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}.woff') format('woff'),
         url('#{$font-path}.ttf') format('truetype'),
         url('#{$font-path}.svgz#AuthorWebRegular') format('svg'),
         url('#{$font-path}.svg#AuthorWebRegular') format('svg');
    font-weight: bold;
    font-tyle: normal;
}
@font-face {
    font-family: 'Author';
    src: url('#{$font-path}.eot');
    src: url('#{$font-path}.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}.woff') format('woff'),
         url('#{$font-path}.ttf') format('truetype'),
         url('#{$font-path}.svgz#AuthorWebRegular') format('svg'),
         url('#{$font-path}.svg#AuthorWebRegular') format('svg');
    font-weight: normal;
    font-tyle: italic;
}
@font-face {
    font-family: 'Author';
    src: url('#{$font-path}.eot');
    src: url('#{$font-path}.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}.woff') format('woff'),
         url('#{$font-path}.ttf') format('truetype'),
         url('#{$font-path}.svgz#AuthorWebRegular') format('svg'),
         url('#{$font-path}.svg#AuthorWebRegular') format('svg');
    font-weight: bold;
    font-tyle: italic;
}